.profile {
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.profile2 {
    font-size: 30px; 
    font-family: 'gulim'; 
    text-align: 'center';
    color: blue; 
    text-align: center;
}

/* 클래스명이 아니라 p를 쓰게 되면 모든거에 적용된다 */
h1 {
    text-align: center;
}

#special {
    text-align: center;
}

/* 세미콜론 안쓰면 큰일난다 */
/* 클래스 만들땐 쩜 찍고 시작해야한다 */

.box {
    width: 100px;
    /* height: 100px; */
    background-color: cadetblue;
    margin: 30px;
    /* padding: 200px; */
    border: 4px solid black;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    /* 가운데 정렬 하는 방법 */
}

.container {
    width: 80px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: inline-block;

}

.left_menu {
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    display: inline-block;
    vertical-align: top;
    /* float: left; */
    /* 버티컬 얼라인? 뭐게? 왜 이거 해야지 되게? 공책에서 선 위에다 쓰는거 있자나 선을 베이스 라인이라고 불러 */
    /* 코딩에서도 자동으로 베이스라인이라는게 있는데 자동으로 삐져나가기 위해 배이스라인이라는게 있는데 */
    /* 베이스라인이 존재할 경우 옆에 있는 인라인 블록들을 가지고 있는 박스들이 베이스라인이 발작을 해서 위쪽부터 채우려고해서 */
    /* 위로 올리려고 해 박스를 */
}

.right {
    width: 80%;
    height: 400px;
    background-color: coral;
    display: inline-block;
    /* float: right; */
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    clear: both;
    display: inline-block;
}

.leftside {
    width: 60%;
    height: 500px;
    background-color: seashell;
    display: inline-block;
    vertical-align: top;
}

.rightside {
    width: 40%;
    height: 500px;
    background-color: silver;
    display: inline-block;
    vertical-align: top;
    /* clear: both; */
}

.upside1 {
    width: 60%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}

.upside2 {
    width: 60%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    
}

.photoiu {
    width: 100%;
    height: 100%;
}